body {
    background-color: rgb(234, 238, 231);
    font-size: 80px;
    text-align: center;
}

.red {
    /* padding: 3vw; */
    border-width: 5px;
    background-color: white;
    border-color: black;
    text-align: center;
}

.red:hover{
    border-color: aqua;
    border-width: 5px;
    background-color: red;

}

.orange {
    /* padding: 3vw; */
    border-width: 5px;
    background-color: white;
    border-color: black;
}

.orange:hover {
    border-color: aqua;
    border-width: 5px;
    background-color: orange;
}

.yellow {
    /* padding: 3vw; */
    border-width: 5px;
    background-color: white;
    border-color: black;
}

.yellow:hover{
    border-color: aqua;
    border-width: 5px;
    background-color: yellow;
}

.green {
    /* padding: 3vw; */
    border-width: 5px;
    background-color: white;
    border-color: black;
}

.green:hover{
    border-color: aqua;
    border-width: 5px;
    background-color: green;
}

.blue {
    /* padding: 3vw; */
    border-width: 5px;
    background-color: white;
    border-color: black;
}

.blue:hover{
    border-color: aqua;
    border-width: 5px;
    background-color: blue;
}
.quit {
    padding: 3vw;

    background-color: white;
    border-color: black;

}

.reset{
    padding: 3vw;

    background-color: white;
}

.reset:hover{
    background-color: brown;
    border-color: brown;
}

h5 {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

#buttonGrid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}
.buttonRow1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.buttonRow2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}
.buttonRow3{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}
.buttonRow4{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}
.buttonRow5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

#buttonGrid button {
    padding: 3vmin;
    text-align: center;
    box-sizing: content-box;
    height: 3vmin;
    width: 3vmin;
    margin: 1vmin;
}
.dilRow{
    text-align: center;
}